<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UMD Dining Hall Tracker</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <center> 
        <h1>CAPACITY COUNTER</h1> 
      </center>
      <button type="submit" formaction="/yahentamitsi">Click Me</button>
      <h1>Dining Hall Trackers:</h1>  
      <a href="yahentamitsi">Yahentamitsi</a>
      <a href="251north">251 North</a>
      <a href="south">South Campus Diner</a>
    </main>
  </body>
</html>